In [76]:
import numpy as np
import pandas as pd

In [77]:
np.log(np.e)

1.0

In [78]:
tennis=pd.read_csv('play_tennis.csv')
iris=pd.read_csv('Iris.csv')

In [79]:
tennis

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [80]:
parent_entropy=sum([-i*np.log(i) for i in tennis['play'].value_counts()/tennis.shape[0]])
info_gain=dict()

for column in tennis.columns[1:-1]:
    entropy=[]
    weight=[]
    
    for unique in tennis[column].unique():
        entropy.append(sum([-i*np.log(i) for i in tennis[tennis[column]==unique]['play'].value_counts()/tennis[tennis[column]==unique].shape[0]]))
        weight.append(tennis[tennis[column]==unique].shape[0]/tennis.shape[0])
        
    np.multiply(entropy,weight)
    info_gain[column]=parent_entropy-sum(np.multiply(entropy,weight))
info_gain

{'outlook': 0.17103394188032706,
 'temp': 0.02025553899523236,
 'humidity': 0.10524434967821283,
 'wind': 0.033359115436214726}

In [81]:
iris.sort_values(by='PetalLengthCm',inplace=True)
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
22,23,4.6,3.6,1.0,0.2,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
35,36,5.0,3.2,1.2,0.2,Iris-setosa
36,37,5.5,3.5,1.3,0.2,Iris-setosa
...,...,...,...,...,...,...
131,132,7.9,3.8,6.4,2.0,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica

In [82]:
parent_entropy=sum([-i*np.log(i) for i in iris['Species'].value_counts()/iris.shape[0]])
info_gain=dict()
for val in iris['PetalLengthCm'][:-1]:
    df_lower=iris[iris['PetalLengthCm']<=val]
    df_higher=iris[iris['PetalLengthCm']>val]
    
    e1=sum([-i*np.log(i) for i in df_lower['Species'].value_counts()/df_lower['Species'].shape[0]])
    e2=sum([-i*np.log(i) for i in df_higher['Species'].value_counts()/df_higher['Species'].shape[0]])
    
    info_gain[val]=parent_entropy-((df_lower.shape[0]/iris.shape[0])*e1+(df_higher.shape[0]/iris.shape[0])*e2)
info_gain

{1.0: 0.007368925763855394,
 1.1: 0.014829172330138585,
 1.2: 0.030033875414081868,
 1.3: 0.08654114224614062,
 1.4: 0.19846652829937905,
 1.5: 0.36762441317024375,
 1.6: 0.48280104455013506,
 1.7: 0.5708880749943686,
 1.9: 0.6365141682948128,
 3.0: 0.6083557734545781,
 3.3: 0.5738298777087836,
 3.5: 0.5487967703668577,
 3.6: 0.5383976022416942,
 3.7: 0.5290762982094618,
 3.8: 0.5206770429611144,
 3.9: 0.49998635614757925,
 4.0: 0.4769733143948972,
 4.1: 0.46858904960369663,
 4.2: 0.4628103300330144,
 4.3: 0.4620981203732968,
 4.4: 0.4649602832666839,
 4.5: 0.4499611899497512,
 4.6: 0.46469597543888563,
 4.7: 0.5021697266465265,
 4.8: 0.4724565131247582,
 4.9: 0.438117862765954,
 5.0: 0.40314245075086574,
 5.1: 0.32626067487019494,
 5.2: 0.3005336653214238,
 5.3: 0.2760652012017689,
 5.4: 0.2527100690630446,
 5.5: 0.21951214867965607,
 5.6: 0.15864598561813148,
 5.7: 0.13053245657705592,
 5.8: 0.10373813181609481,
 5.9: 0.08654114224614062,
 6.0: 0.06983636023057316,
 6.1: 0.045635817309936266,
 6.3: 0.037783754878081055,
 6.4: 0.030033875414081868,
 6.6: 0.022383272446196978,
 6.7: 0.007368925763855394}

In [83]:
df_higher

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
118,119,7.7,2.6,6.9,2.3,Iris-virginica

In [84]:
iris['PetalLengthCm'][22]

1.0

In [85]:
iris['PetalLengthCm'][:50]

22    1.0
13    1.1
14    1.2
35    1.2
36    1.3
40    1.3
38    1.3
42    1.3
2     1.3
41    1.3
16    1.3
17    1.4
45    1.4
33    1.4
28    1.4
47    1.4
49    1.4
0     1.4
4     1.4
1     1.4
12    1.4
6     1.4
8     1.4
34    1.5
10    1.5
32    1.5
31    1.5
15    1.5
27    1.5
9     1.5
7     1.5
3     1.5
48    1.5
21    1.5
19    1.5
39    1.5
37    1.5
30    1.6
29    1.6
11    1.6
26    1.6
25    1.6
46    1.6
43    1.6
18    1.7
5     1.7
23    1.7
20    1.7
24    1.9
44    1.9
Name: PetalLengthCm, dtype: float64

In [86]:
iris['PetalLengthCm'].nunique()

43

In [87]:
iris['SepalWidthCm']

22     3.6
13     3.0
14     4.0
35     3.2
36     3.5
      ...
131    3.8
105    3.0
117    3.8
122    2.8
118    2.6
Name: SepalWidthCm, Length: 150, dtype: float64