In [1]:
import numpy as np
import pandas as pd

In [2]:
tennis=pd.read_csv('play_tennis.csv')
iris=pd.read_csv('Iris.csv')

# Task 1

In [3]:
tennis

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
def first_spilt(df,label=None):
    
    if label==None:
        label=df.columns[-1]
        
    # Calculating entropy of parent
    parent_entropy=sum([-i*np.log(i) for i in df[label].value_counts()/df.shape[0]])
    
    # Creating an empty dictionary to store information gain for each column
    info_gain=dict()

    # iterating to find the information gain of each column
    for column in df.columns[1:-1]:
        entropy=[]
        weight=[]
        
        # Calculating entropiesa and weights for each child dataset
        for unique in df[column].unique():
            entropy.append(sum([-i*np.log(i) for i in df[df[column]==unique][label].value_counts()/df[df[column]==unique].shape[0]]))
            weight.append(df[df[column]==unique].shape[0]/df.shape[0])

        # Calculating the information gain for each column
        info_gain[column]=parent_entropy-sum(np.multiply(entropy,weight))
        
    return max(info_gain,key=info_gain.get)

In [5]:
print("The first split will be on '{}' column".format(first_spilt(tennis)))

The first split will be on 'outlook' column

# Task 2

In [6]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
def find_split_crit(df,split_col,label=None):
    
    if label==None:
        label=df.columns[-1]
        
    # Calculating entropy of parent
    parent_entropy=sum([-i*np.log(i) for i in df[label].value_counts()/df.shape[0]])
    
    # Creating an empty dictionary to store information gain for each column
    info_gain=dict()
    
    # Sorting the given numerical column
    df.sort_values(by=split_col,inplace=True)
    
    
    for val in df[split_col][:-1]:
        
        # Spliting the parent dataset for each numerical element as the splitting criteria
        df_lower=df[df[split_col]<=val]
        df_higher=df[df[split_col]>val]

        # Calculating the entripies of each splited child daaset
        e1=sum([-i*np.log(i) for i in df_lower[label].value_counts()/df_lower[label].shape[0]])
        e2=sum([-i*np.log(i) for i in df_higher[label].value_counts()/df_higher[label].shape[0]])

        # Calculating the information gain for splitting value
        info_gain[val]=parent_entropy-((df_lower.shape[0]/iris.shape[0])*e1+(df_higher.shape[0]/iris.shape[0])*e2)
    
    return max(info_gain,key=info_gain.get)

In [8]:
print("The splitting criteria for 'PetalLengthCm' column will be 'PetalLengthCm' > {}".format(find_split_crit(iris,'PetalLengthCm')))

The splitting criteria for 'PetalLengthCm' column will be 'PetalLengthCm' > 1.9